.credential__conteiner{
    background-color: var(--color-one);
    height: 55%;
    width: fit-content;
    padding: .2rem;
    font-size: .8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.credential__top{
    display: flex; 
    justify-content: center;
    align-items: center;     
}
.credential__top-text{
    font-weight: 600;
    color: limegreen;
}
.credential__top-ligth{
    margin-left: .8rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 5px #fff,      /* inner white */
      inset 2px 0 8px #00e528,   /* inner left magenta short */
      inset -2px 0 8px rgb(255, 191, 0),  /* inner right cyan short */
      inset 2px 0 30px #00e528,  /* inner left magenta broad */
      inset -2px 0 30px rgb(255, 191, 0), /* inner right cyan broad */
      0 0 5px #fff,            /* outer white */
      -1px 0 8px #00e528,        /* outer left magenta */
      1px 0 8px rgb(255, 255, 0);         /* outer right cyan */
}
.credential__bottom{
    font-weight: 600;
    margin-top: .4rem;
    font-size: .8rem;
    width: 100%;
    color: var(--color-five);
    background-color: var(--color-one);
    border: none;
    transition: all 300ms ease;
}
.credential__bottom:hover{
    background-color: var(--color-five);
    cursor: pointer;
    color: var(--color-one);
}
