*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-one:#202124;
  --color-two:#282C2F;
  --color-three:#323639;
  --color-four:#363639;
  --color-five:white;
}